.login {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  max-width: 396px;
  margin: auto;
  position: relative;
}

.login__item {
  border: 0;
  min-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
  padding: 0px 0px 10px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.login__item_color {
  border-bottom: 1px solid #2BE080;
}

.login__item_none {
  margin-bottom: 0px;
}

.login__logo {
  max-width: 38px;
  min-height: 38px;
  margin-top: 70px;
  margin-left: 0;
}

.login__tittle {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0px;
}

.login__text {
  font-size: 10px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 0px;
}

.login__text_error {
  color: #EE3465;
}

.login__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 16px 0px;
  text-align: center;
  text-decoration: none;
}

.login__subtitle:hover {
  opacity: 0.6;
}

.login__subtitle_color {
  color: #2BE080;
  padding-left: 6px;
}

.login__button-save {
  width: 100%;
  min-height: 45px;
  background: #2BE080;
  box-sizing: border-box;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 0;
  border: 0;
  margin-top: 200px;
  cursor: pointer; 
}

.login__button-save:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .login__logo {
    margin-top: 232px;
  }
}

@media screen and (max-width: 520px) {
  .login {
    max-width: 260px;
    align-items: center;
  }
  .login__logo {
    margin-top: 56px;
  }
  .login__button-save {
    font-size: 12px;
  }
  .login__subtitle {
    font-size: 12px;
  }
}